footer{
    background-color: #EEEEEE;
    font-family: Arial,Roboto,Helvetica,sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
  line-height: 1.5rem;
    text-align: left;    
}

.main{
    max-width: 90vw;
    margin: auto;
}
.m-pagos{
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;    
}
.txt-mpagos{
    font-size: 10px;

}
.icon {
    height: 18px;
    width: 18px;
    object-fit: contain;
}
.f-icon{
font-size: 25px;
height: 20px;
color: #666;
}
.icon-border{
    color: dimgrey;
    border: solid 1px dimgrey;
    border-radius: 50%;
    text-align: center;
    padding: 4px;
    margin-right: 5px;
}
.icon-border:hover{
color: rgba(85, 8, 8, 0.966);
border: solid 1px rgba(85, 8, 8, 0.966);
}

.icon-app{
    height: 37px;
    width: 127px;
    object-fit: contain;
}
.icon-libro{
    height: 110px;
    width: auto;
    object-fit: contain;
    border: solid 1px dimgray;    
}
.siguenos{
    border-left: solid 1px #CCCCCC;   
}

.accordion-body{
    background-color: #EEEEEE!important;
}

.accordion-button{
   background-color: #EEEEEE!important;
}
.fmenu a{
    color: #666;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
}
.fmenu a:hover{    
    text-decoration:underline;
    color: rgb(33, 30, 30);
    }

@media (max-width: 992px){
    .txt-mpagos{
        padding-left: 10px, !important; ;
    }
}
